/*--------------------------------------------------------------
>>>>>> CSSeco Styles(usualy overwrite bootsrap styles :))
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
	#  Imports
	##  Fonts
    ##  Bootstrap
	#  CSSeco Variables
	#  Overides(bs)
	#  Helper Classes
	#  CSSeco Styles
	## Body
	## Header
	## Footer
	## Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#  Imports 
##  Fonts
--------------------------------------------------------------*/
//@import url('https://fonts.googleapis.com/css?family=Rubik:400,700');
@import url('../fonts/fonts.css');

/*--------------------------------------------------------------
#  Imports
##  Bootstrap
--------------------------------------------------------------*/
//@import "../../vendor/bs4/scss/bootstrap";

/*--------------------------------------------------------------
#  CSSeco Variables
--------------------------------------------------------------*/
/* BreakPoint */
$csseco_bp_320	:    320px	!default;
$csseco_bp_576	:    576px	!default;
$csseco_bp_768	:    768px	!default;
$csseco_bp_992	:    992px	!default;
$csseco_bp_1200	:    1200px	!default;

/*--------------------------------------------------------------
#  Overides(bs)
--------------------------------------------------------------*/
body {
	direction: rtl;
	font-family: 'SukarRegular';
    font-weight: normal;
    font-style: normal;
	letter-spacing: 2px;
}

/*--------------------------------------------------------------
#  Helper Classes
--------------------------------------------------------------*/
.posrel {
	position: relative!important;
}

.elem-hidden {
	display: none!important;
}

/*--------------------------------------------------------------
#  CSSeco Styles
## Body
--------------------------------------------------------------*/
div#site-wrapper {
	.container { 
		@media screen and (max-width: 767px) {
			max-width: 100%;
		}
		@media screen and (min-width: 768px) and (max-width: 991px) {
			max-width: 750px;
		}
	}
	.header_sub_wrapper {
		background: url(../imgs/main-banner.jpg) 50% 0 no-repeat;
		background-size: cover;
		border-bottom: 10px solid #d3b365;
		padding: 0 0 55px;
/*--------------------------------------------------------------
#  CSSeco Styles
## Header
--------------------------------------------------------------*/
		header#header {
			.header_logo {
				margin: 24px auto 50px;
			}
			h1 {
				color: #d3b365;
				font-family: "Sukar-black";
				font-size: 24px;
				line-height: 30px;
				letter-spacing: 2px;
				text-shadow: 0px 2px 0px #8e7332;
				margin: 0 0 15px;
				@media screen and (min-width: $csseco_bp_768) {
					color: #d3b365;
					font-size: 40px;
					letter-spacing: 3px;
					line-height: 50px;
					margin: 0 0 20px;
					text-shadow: 0px 4px 0px #8e7332;
				}
				@media screen and (min-width: $csseco_bp_992) {
					font-size: 50px;
					letter-spacing: 4px;
					line-height: 60px;
				}
				@media screen and (min-width: $csseco_bp_1200) {
					font-size: 57px;
					letter-spacing: 0px;
					line-height: 67px;
				}
			}
			h3 {
				color: #2b2b2b;
				font-family: "SukarRegular";
				font-size: 16px;
				font-weight: 500;
				line-height: 27px;
				margin: 0 0 15px;
				@media screen and (min-width: $csseco_bp_768) {
					font-size: 20px;
					line-height: 30px;
					margin-bottom: 40px;
				}
			}
		}
	}
	
/*--------------------------------------------------------------
#  CSSeco Styles
## Footer
--------------------------------------------------------------*/
	footer#footer {}
	
/*--------------------------------------------------------------
#  CSSeco Styles
## Content
--------------------------------------------------------------*/
	section#section1.subHeader {
		.vid-wrapper {
			border: 10px solid #fff;
			box-shadow: 30px 20px 93px rgba(0,0,0,.3);
			height: 0;
			margin: 10px 0 15px;
			max-width: 100%;
			overflow: hidden;
			padding-bottom: 55.25%;
			position: relative;
			@media screen and (min-width: $csseco_bp_992) {
				margin-top: 0;
			}
			iframe {
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
			}
		}
		.form-wrap {
			@media screen and (min-width: $csseco_bp_1200) {
				// margin: 70px 0 0;
			}
			.formEl {
				margin-bottom: 10px;
				input[type="text"],
				input[type="email"],
				input[type="tel"],
				select {
					background: #fff;
					border: 1px solid #464646;
					border-radius: 2px;
					color: #666666;
					font: italic 16px/35px "SukarRegular";
					height: 45px;
					line-height: 25px;
					padding: 10px;
					text-align: right;
					width: 100%;
					@media screen and (min-width: $csseco_bp_768) {
						height: 55px;
					}
				}
				.agreement {
					background: rgba(0, 0, 0, .7);
					color: #FFF;
					padding: 5px 3px;
					text-align: right;
					input[type="checkbox"],
					input[type="checkbox"] + label {
						display: inline;
					}
				}
				input.phone-number {
					float: left;
					width: 68%;
				}
				input.phone-prefix {
					float: right;
					text-align: center;
					width: 30%;
				}
				button[type="submit"],
				div#checksubmit {
					background: url(../imgs/section1/form/btn-bg.png) 0 100% repeat-x;
					border: medium none;
					color: #fff;
					font: bold 25px/45px "SukarBlack";
					height: 66px;
					padding: 10px 0;
					text-align: center; 
					-webkit-transition: all 0.2s;
					-moz-transition: all 0.2s;
					-ms-transition: all 0.2s;
					-o-transition: all 0.2s;
					transition: all 0.2s;
					width: 100%;
				}
				div#checksubmit {
					display: none;
					height: 66px;
					opacity: .5;
					padding: 12px 0;
				}
			}
		}
	}
}